
*{
    
    box-sizing: border-box;
}
body {
    font-family: Arial, Helvetica, sans-serif;

    padding: 0;
    margin: 0 auto;
    width: 900px;
    font-style: italic;
    font-weight: bold;
    background-color:#eee;


}

header h1 {
    color: black;
}

header {
    text-align: center;
    color: darkgray;
    background-color: white;
    box-shadow: 0 0 5px black;
    padding: 50px 30px;
    font-size: 18px;
    border-radius: 25px;
    width: 900px;
    margin-top: 50px;
    
}

header img {
    width: 220px;
    height: 220px;
    border-radius: 50%;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    border: 10px green;
  

 
}

nav {
    margin: 10px;
    border-radius: 25px;
    text-align: center;

}

nav a:hover{
    
    font-size: 18px;

}

nav a{
    margin: 20px;
    text-decoration: none;
}

a {
    color: chartreuse;
    font-size: 15px;
}

section h1 {
    border-bottom: 3px solid;
    color: green;

}

section {
    background-color: white;
    box-shadow: 0 0 5px black;
    margin: 10px 0;
    padding: 20px;
    border-radius: 25px;
    width: 900px;
    min-height: 50px;
  
}

footer {
    text-align: center;
    background-color: black;
    padding: 20px;
    border-radius: 25px;
    margin: 10px 0;
}

footer a {
    color: darkgrey;
    font-size: 12px;

}

footer p {
    color: darkgrey;
    font-size: 15px;
    background-color: black;
   
}

.loop {
    color: white;
}

.boom {
    margin: 5px;
}

p {
    font-size: 15px;
    color: darkgray;
}

.koopp{
    color: black;
}
table{
    width: 100%;
    
}
table td{
    border:2px solid #000;
    padding: 10px;
    
}
form{
    display: flex;
    flex-direction: column;
}

form input{
    height: 40px;
}

form button{
    height: 40px;
    width: 100px;
}